{% extends 'main.html' %}

{% block content %}
  <h1>{{ bigcourse.name }}</h1>
  {% for course in courses %}
    <div class="course-card">
      <h2>{{ course.name }}</h2>
      <p>Хостится: {{ course.host}}</p>
      <p>Описание: {{ course.description }}</p>
      {% comment %} <p>Participants: {{ course.participants.count }}</p> {% endcomment %}
      <p>Возможное количество очков: {{ course.progress }}</p>
      <p>Минимальное количество очков для продолжения: {{ course.min_progress }}</p>
      {% if course.completion_date %}
        <p>Дата выполнения курса: {{ course.completion_date }}</p>
      {% endif %}
      <a href="{% url 'course' pk=bigcourse.id pk_1=course.id %}">Посмотреть курс</a>
    </div>
    {% endfor %}

    {%if request.user == bigcourse.host%}
    <a href="{% url 'courses-create' bigcourse.id%}">Добавить курсы</a>
    {%endif%}
    <a href="{% url 'results' bigcourse.id%}">Посмотреть результат</a>
{% endblock %}