{% extends 'main.html' %}

{% block content %}
  <h1>{{ bigcourse.name }}</h1>
  {% for course in courses %}
    <div class="course-card">
      <h2>{{ course.name }}</h2>
      <p>Hosted by: {{ course.host}}</p>
      {% comment %} <p>Topic: {{ course.topic.name }}</p> {% endcomment %}
      <p>Description: {{ course.description }}</p>
      {% comment %} <p>Participants: {{ course.participants.count }}</p> {% endcomment %}
      {% if course.completion_date %}
        <p>Completion Date: {{ course.completion_date }}</p>
      {% endif %}
      <a href="{% url 'course' pk=bigcourse.id pk_1=course.id %}">View Course</a>
    </div>
    {% endfor %}
{% endblock %}