{% extends 'main.html' %}

{% block content %}
  <h1>{{ bigcourse.name }}</h1>
  {% for course in courses %}
    <div class="course-card">
      <h2>{{ course.name }}</h2>
      <p>Хостится: {{ course.host}}</p>
      {% comment %} <p>Topic: {{ course.topic.name }}</p> {% endcomment %}
      <p>Описание: {{ course.description }}</p>
      {% comment %} <p>Participants: {{ course.participants.count }}</p> {% endcomment %}
      <p>Возможное количетсво очков: {{ course.progress }}</p>
      {% if course.completion_date %}
        <p>Дата выполнения курса: {{ course.completion_date }}</p>
      {% endif %}
      <a href="{% url 'course' pk=bigcourse.id pk_1=course.id %}">Посмотреть курс</a>
    </div>
    {% endfor %}
    
    <a href="{% url 'results' bigcourse.id%}">Посмотреть результат</a>
{% endblock %}