{% extends 'main.html' %}

{% block content %}
  <h1>Courses</h1>
  {% for course in courses %}
    <div class="course-card">
      <h2>{{ course.name }}</h2>
      <p>Hosted by: {{ course.host}}</p>
      {% comment %} <p>Topic: {{ course.topic.name }}</p> {% endcomment %}
      <p>Description: {{ course.description }}</p>
      <p>Course : {{ course.participants.count }}</p>
      {% if course.completion_date %}
        <p>Дата выполнения курса: {{ course.completion_date }}</p>
      {% endif %}
      <a href="{% url 'course' course.id %}">Посмотреть курс</a>
    </div>
  {% endfor %}
{% endblock %}
