{% extends 'main.html'%}
{%block content%}

<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 3fr 1fr;

    }
</style>
<div class = "home-container">
    <div>
        {%include 'base/topics_component.html'%}
    </div>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
            <a class="navbar-brand" >{{room_count}} тредов</a>
        </nav>
        <a href="{% url 'create-room'%}">Создать тред</a>    
        {%include 'base/feed_component.html'%}
    </div>
    <div>
        {%include 'base/activity_component.html'%}
    </div>
    
</div>
{%endblock%}